body {
    font-family: Papyrus, copperplate, fantasy;
    background-blend-mode: color;
    background-image: url("https://cdn.discordapp.com/attachments/362625963411898368/1171093358194724946/blurred-busy-restaurant-background-free-photo.jpeg?ex=655b6cae&is=6548f7ae&hm=a94ad5928c24b2846891a893c91d759e5d97dda2883549cbb7447f0e095ce668&");
    background-color: rgb(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.Header {
    font-size: larger;
    text-align: center;
     margin-top: 20px;
    background-color: black;
    color: white;
        
}

img {
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border: 3px solid black;


}

.history {
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    padding: 0 50px;
    margin-bottom: 50px;
    border: 3px solid black;
}
.information {
    background-color: white;
    padding-left: 90px;
    margin-bottom: 5%;
    border: 3px solid black;
}

.button
{
    margin: auto;
    width: 30%;
    font-size: larger;
    background-color: white;
    color: black;
    border: 3px solid black;
}
.homepage {
    text-align: center;
}

a:link, a:visited {
 color: black;
}

